{% extends "base.html" %}
{% load staticfiles%}
{% load i18n %}

{% block my_scripts %}
    <script src="{% static 'shop/js/scripts.js' %}"></script>
{% endblock my_scripts %}

{% block content %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Price" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in request.session.cart %}
                <tr>
                    <td><a href="/{{ product.category_id }}/{{ product.id }}/">{{ product.name }}</a></td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.quantity_in_cart }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if user.is_authenticated %}
            <p>{% trans "Username" %}: {{ user.username }}</p>
            <p>{% trans "Email" %}: {{ user.email }}</p>
            <p>{% trans "First name" %}: {{ user.first_name }}</p>
            <p>{% trans "Last name" %}: {{ user.last_name }}</p>
            <p>{% trans "Phone" %}: {{ user_all_info.phone }}</p>
            <a href="/cart/create_order/" class="btn btn-default">{% trans "Done" %}</a>
        {% else %}
            <a href="/accounts/" class="btn btn-default">{% trans "Sign up" %}</a>
        {% endif %}
    </div>

{% endblock content %}