{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="prod-detail-img">
        <img class="img-thumbnail" src="{{ product.image }}">
    </div>
    <div class="panel panel-default prod-detail-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ product.name }}</h3>
        </div>
        <div class="panel-body">
            <p>{% trans "Description" %}: {{ product.description|safe }}</p>
            <p>{% trans "Size" %}: {{ product.size }}</p>
            <p>{% trans "Colour" %}: {{ product.colour }}</p>
            <p>{% trans "Price" %}: {{ product.price }}</p>
            {% if product.quantity %}
            <a href="/cart/?product={{ product.id }}" class="btn btn-default">{% trans "Buy" %}</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
